@{
    ViewData["Title"] = "Cadastrar Abastecimento";
}

<form action="Cadastrar/Abastecimento" method="post" id="cadastrar-abastecimento">
        <div class="row text-center">
        <div class="col text-center">
            <label for="kmRodado">KM Rodado:</label>
            <input type="text" id="kmRodado" name="KmRodado" required><br><br>

            <label for="kmTotal">KM Total:</label>
            <input type="text" id="kmTotal" name="KmTotal" required><br><br>

            <label for="litros">Litros:</label>
            <input type="text" id="litros" name="Litros" required><br><br>

            <label for="valor">Valor:</label>
            <input type="text" id="valor" name="Valor" required><br><br>
        </div>
        <div class="col text-center">
           <label for="dataAbastecimento">Data:</label>
           <input type="date" id="dataAbastecimento" name="Data" min="2000-01-01" max="2030-01-01" required><br><br><br><br>

           <label for="alcool">Álcool:</label>
           <input type="checkbox" id="alcool" name="Alcool" value="true"><br><br>
        </div>
        </div>
</form>

<div class="btn-submit">
        <button style="font-size:20px; height: 80px; width: 300px;" 
        type="submit" class="btn btn-color m-4" 
        form="cadastrar-abastecimento">Cadastrar</button>
    </div>